In [7]:
# Quick demo of yfinance

import yfinance as yf

msft = yf.Ticker("MSFT")

print(msft.dividends)

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
Name: Dividends, Length: 66, dtype: float64

In [1]:
#### stock_info methods:

#get_analysts_info()
#get_balance_sheet()
#get_cash_flow()
#get_data()
#get_day_gainers()        # UNUSABLE WITHOUT requests_html
#get_day_losers()         # UNUSABLE WITHOUT requests_html
#get_day_most_active()    # UNUSABLE WITHOUT requests_html
#get_holders()
#get_income_statement()
#get_live_price()
#get_quote_table()
#get_top_crypto()         # UNUSABLE WITHOUT requests_html
#get_stats()
#get_stats_valuation()
#tickers_dow()
#tickers_nasdaq()
#tickers_other()
#tickers_sp500()


#### options methods:

#get_calls()
#get_expiration_dates()    # UNUSABLE WITHOUT requests_html
#get_options_chain()
#get_puts()

In [2]:
from yahoo_fin.stock_info import get_data

# get_data(ticker, start_date = None, end_date = None, index_as_date = True, interval = “1d”)

amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,143.619995,145.910004,135.110001,137.580002,137.580002,31350900,AMZN
2009-12-07,138.000000,139.000000,129.820007,134.149994,134.149994,47863000,AMZN
2009-12-14,132.500000,132.610001,125.650002,128.479996,128.479996,45794900,AMZN
2009-12-21,130.479996,139.699997,130.190002,138.470001,138.470001,32406000,AMZN
2009-12-28,139.750000,142.580002,134.520004,134.520004,134.520004,28600700,AMZN
...,...,...,...,...,...,...,...
2019-11-04,1801.010010,1815.060059,1774.040039,1785.880005,1785.880005,11461600,AMZN
2019-11-11,1778.000000,1786.219971,1732.859985,1739.489990,1739.489990,13165500,AMZN
2019-11-18,1738.300049,1762.520020,1722.709961,1745.719971,1745.719971,13042300,AMZN
2019-11-25,1753.250000,1824.689941,1753.239990,1800.800049,1800.800049,11616400,AMZN
2019-12-02,1804.400024,1805.550049,1747.229980,1769.959961,1769.959961,7306500,AMZN

In [3]:
ticker_list = ["amzn", "aapl", "ba"]

historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker)

In [4]:
historical_datas["aapl"]

,open,high,low,close,adjclose,volume,ticker
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.405683,117258400.0,AAPL
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.384517,43971200.0,AAPL
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.356296,26432000.0,AAPL
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.365115,21610400.0,AAPL
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.375698,18362400.0,AAPL
...,...,...,...,...,...,...,...
2020-05-27,316.140015,318.709991,313.089996,318.109985,318.109985,28236300.0,AAPL
2020-05-28,316.769989,323.440002,315.630005,318.250000,318.250000,33390200.0,AAPL
2020-05-29,319.250000,321.149994,316.470001,317.940002,317.940002,38399500.0,AAPL
2020-06-01,317.750000,322.350006,317.209991,321.850006,321.850006,20197800.0,AAPL
2020-06-02,320.744995,322.470001,320.619995,320.760010,320.760010,3338679.0,AAPL

In [5]:
import yahoo_fin.stock_info as si

dow_list = si.tickers_dow()

In [6]:
print("Tickers in Dow Jones:", len(dow_list))
dow_list[0:10]

Tickers in Dow Jones: 30

['AAPL', 'AXP', 'BA', 'CAT', 'CSCO', 'CVX', 'DIS', 'DOW', 'GS', 'HD']

In [7]:
dow_historical = {}
for ticker in dow_list:
    dow_historical[ticker] = si.get_data(ticker, start_date="01/01/2020", end_date="01/03/2020", interval="1d")

In [8]:
dow_historical

{'AAPL':                  open        high         low       close    adjclose  \
 2020-01-02  296.23999  300.600006  295.190002  300.350006  298.829956

               volume ticker
 2020-01-02  33870100   AAPL  ,
 'AXP':                   open        high         low       close    adjclose  \
 2020-01-02  124.660004  126.269997  124.230003  125.849998  125.154785

              volume ticker
 2020-01-02  2708000    AXP  ,
 'BA':                   open        high         low       close    adjclose  \
 2020-01-02  328.549988  333.350006  327.700012  333.320007  331.348572

              volume ticker
 2020-01-02  4544400     BA  ,
 'CAT':              open        high         low       close    adjclose   volume  \
 2020-01-02  149.0  150.550003  147.979996  150.529999  148.121597  3311900

            ticker
 2020-01-02    CAT  ,
 'CSCO':                  open       high        low      close   adjclose    volume  \
 2020-01-02  48.060001  48.419998  47.880001  48.419998  47.965229  16708100

            ticker
 2020-01-02   CSCO  ,
 'CVX':                   open        high         low   close    adjclose   volume  \
 2020-01-02  120.809998  121.629997  120.769997  121.43  118.290535  5205000

            ticker
 2020-01-02    CVX  ,
 'DIS':                   open        high         low       close    adjclose  \
 2020-01-02  145.289993  148.199997  145.100006  148.199997  148.199997

              volume ticker
 2020-01-02  9502100    DIS  ,
 'DOW':              open       high        low  close   adjclose   volume ticker
 2020-01-02  55.23  55.540001  53.639999  53.75  51.946507  5145200    DOW,
 'GS':              open        high         low       close    adjclose   volume  \
 2020-01-02  231.0  234.639999  230.160004  234.320007  231.449234  3736300

            ticker
 2020-01-02     GS  ,
 'HD':                   open        high         low       close   adjclose  \
 2020-01-02  219.080002  219.759995  217.839996  219.660004  218.20015

              volume ticker
 2020-01-02  3935700     HD  ,
 'IBM':              open        high         low       close    adjclose   volume  \
 2020-01-02  135.0  135.919998  134.770004  135.419998  132.246933  3148600

            ticker
 2020-01-02    IBM  ,
 'INTC':                  open       high        low  close   adjclose    volume ticker
 2020-01-02  60.240002  60.970001  60.220001  60.84  60.201786  18056000   INTC,
 'JNJ':                   open        high         low       close    adjclose  \
 2020-01-02  145.869995  146.020004  145.080002  145.970001  144.046555

              volume ticker
 2020-01-02  5777000    JNJ  ,
 'JPM':                   open        high         low       close    adjclose  \
 2020-01-02  139.789993  141.100006  139.259995  141.089996  138.748215

               volume ticker
 2020-01-02  10803700    JPM  ,
 'KO':              open   high        low      close   adjclose    volume ticker
 2020-01-02  55.32  55.43  54.759998  54.990002  54.511929  11867700     KO,
 'MCD':              open        high         low       close    adjclose   volume  \
 2020-01-02  198.0  200.800003  197.809998  200.789993  198.219696  3554200

            ticker
 2020-01-02    MCD  ,
 'MMM':                   open        high         low  close    adjclose   volume  \
 2020-01-02  177.679993  180.009995  177.139999  180.0  176.632721  3601700

            ticker
 2020-01-02    MMM  ,
 'MRK':                  open       high        low      close   adjclose   volume  \
 2020-01-02  91.080002  92.139999  90.370003  92.040001  91.285881  7873500

            ticker
 2020-01-02    MRK  ,
 'MSFT':                   open        high         low       close    adjclose  \
 2020-01-02  158.779999  160.729996  158.330002  160.619995  159.737595

               volume ticker
 2020-01-02  22622100   MSFT  ,
 'NKE':                   open        high         low       close    adjclose  \
 2020-01-02  101.360001  102.209999  101.019997  102.199997  101.663628

              volume ticker
 2020-01-02  5644100    NKE  ,
 'PFE':                  open       high        low      close   adjclose    volume  \
 2020-01-02  39.299999  39.349998  38.880001  39.139999  38.361916  15668000

            ticker
 2020-01-02    PFE  ,
 'PG':              open        high         low       close    adjclose   volume  \
 2020-01-02  124.5  124.730003  122.940002  123.410004  121.868393  8130800

            ticker
 2020-01-02     PG  ,
 'RTX':                  open       high        low      close   adjclose   volume  \
 2020-01-02  94.235367  96.425423  94.235367  96.375076  95.076424  4451500

            ticker
 2020-01-02    RTX  ,
 'TRV':                   open        high         low       close    adjclose  \
 2020-01-02  137.520004  137.740005  136.139999  137.509995  136.606766

              volume ticker
 2020-01-02  1117300    TRV  ,
 'UNH':                   open        high         low  close    adjclose   volume  \
 2020-01-02  293.980011  295.700012  289.790009  292.5  291.238464  2543400

            ticker
 2020-01-02    UNH  ,
 'V':              open        high         low       close    adjclose   volume  \
 2020-01-02  189.0  191.139999  188.720001  191.119995  190.524582  8733000

            ticker
 2020-01-02      V  ,
 'VZ':                  open       high        low      close   adjclose    volume  \
 2020-01-02  61.380001  61.450001  60.810001  61.049999  59.778305  11447900

            ticker
 2020-01-02     VZ  ,
 'WBA':                  open   high        low      close   adjclose   volume ticker
 2020-01-02  59.279999  59.59  58.700001  59.080002  57.911522  5700500    WBA,
 'WMT':                   open        high         low       close   adjclose  \
 2020-01-02  118.860001  119.889999  118.699997  118.940002  117.89743

              volume ticker
 2020-01-02  6764900    WMT  ,
 'XOM':                  open       high        low      close  adjclose    volume  \
 2020-01-02  70.239998  71.019997  70.239998  70.900002  68.56707  12456400

            ticker
 2020-01-02    XOM  }

In [9]:
quote_table = si.get_quote_table("aapl")
quote_table

{'1y Target Est': 314.55,
 '52 Week Range': '174.52 - 327.85',
 'Ask': '322.15 x 1300',
 'Avg. Volume': 49012080.0,
 'Beta (5Y Monthly)': 1.17,
 'Bid': '322.13 x 1000',
 "Day's Range": '320.62 - 322.47',
 'EPS (TTM)': 12.73,
 'Earnings Date': 'Jul 28, 2020 - Aug 03, 2020',
 'Ex-Dividend Date': 'May 08, 2020',
 'Forward Dividend & Yield': '3.28 (1.02%)',
 'Market Cap': '1.39T',
 'Open': 320.74,
 'PE Ratio (TTM)': 25.2,
 'Previous Close': 321.85,
 'Quote Price': 320.70001220703125,
 'Volume': 3345168.0}

In [10]:
quote_table["PE Ratio (TTM)"]

25.2

In [11]:
full_stats = si.get_stats_valuation("aapl")
full_stats

                             0      1
0      Market Cap (intraday) 5  1.39T
1           Enterprise Value 3  1.37T
2                 Trailing P/E  25.19
3                Forward P/E 1  21.65
4  PEG Ratio (5 yr expected) 1   2.27
5            Price/Sales (ttm)   5.19
6             Price/Book (mrq)  17.68
7   Enterprise Value/Revenue 3   5.11
8    Enterprise Value/EBITDA 6  17.71

In [12]:
quote_table = si.get_quote_table("aapl")
quote_table["Forward Dividend & Yield"]

'3.28 (1.02%)'

In [26]:
import pandas as pd

# get list of Dow tickers
dow_list = si.tickers_dow()
 
 
# Get data in the current column for each stock's valuation table
dow_stats = {}
for ticker in dow_list:
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
    temp.columns = ["Attribute", "Recent"]
 
    dow_stats[ticker] = temp

In [27]:
dow_stats

{'AAPL':                      Attribute Recent
 0      Market Cap (intraday) 5  1.39T
 1           Enterprise Value 3  1.37T
 2                 Trailing P/E  25.27
 3                Forward P/E 1  21.72
 4  PEG Ratio (5 yr expected) 1   2.27
 5            Price/Sales (ttm)   5.20
 6             Price/Book (mrq)  17.74
 7   Enterprise Value/Revenue 3   5.11
 8    Enterprise Value/EBITDA 6  17.71,
 'AXP':                      Attribute  Recent
 0      Market Cap (intraday) 5  80.51B
 1           Enterprise Value 3  90.88B
 2                 Trailing P/E   15.08
 3                Forward P/E 1   14.15
 4  PEG Ratio (5 yr expected) 1    5.57
 5            Price/Sales (ttm)    2.11
 6             Price/Book (mrq)    3.83
 7   Enterprise Value/Revenue 3    2.38
 8    Enterprise Value/EBITDA 6     NaN,
 'BA':                      Attribute  Recent
 0      Market Cap (intraday) 5  87.19B
 1           Enterprise Value 3  99.01B
 2                 Trailing P/E     NaN
 3                Forward P/E 1   22.07
 4  PEG Ratio (5 yr expected) 1   -3.20
 5            Price/Sales (ttm)    1.24
 6             Price/Book (mrq)     NaN
 7   Enterprise Value/Revenue 3    1.40
 8    Enterprise Value/EBITDA 6  -39.91,
 'CAT':                      Attribute  Recent
 0      Market Cap (intraday) 5  66.32B
 1           Enterprise Value 3  91.68B
 2                 Trailing P/E   12.95
 3                Forward P/E 1   17.81
 4  PEG Ratio (5 yr expected) 1   -3.63
 5            Price/Sales (ttm)    1.30
 6             Price/Book (mrq)    4.68
 7   Enterprise Value/Revenue 3    1.80
 8    Enterprise Value/EBITDA 6    9.17,
 'CSCO':                      Attribute   Recent
 0      Market Cap (intraday) 5     196B
 1           Enterprise Value 3  170.02B
 2                 Trailing P/E    18.41
 3                Forward P/E 1    14.74
 4  PEG Ratio (5 yr expected) 1     2.38
 5            Price/Sales (ttm)     3.88
 6             Price/Book (mrq)     5.49
 7   Enterprise Value/Revenue 3     3.36
 8    Enterprise Value/EBITDA 6    10.51,
 'CVX':                      Attribute   Recent
 0      Market Cap (intraday) 5  176.35B
 1           Enterprise Value 3  203.03B
 2                 Trailing P/E    45.97
 3                Forward P/E 1    44.14
 4  PEG Ratio (5 yr expected) 1   -80.34
 5            Price/Sales (ttm)     1.30
 6             Price/Book (mrq)     1.23
 7   Enterprise Value/Revenue 3     1.50
 8    Enterprise Value/EBITDA 6     7.11,
 'DIS':                      Attribute   Recent
 0      Market Cap (intraday) 5  215.56B
 1           Enterprise Value 3  255.95B
 2                 Trailing P/E    40.20
 3                Forward P/E 1    35.10
 4  PEG Ratio (5 yr expected) 1   136.77
 5            Price/Sales (ttm)     2.76
 6             Price/Book (mrq)     2.36
 7   Enterprise Value/Revenue 3     3.27
 8    Enterprise Value/EBITDA 6    17.60,
 'DOW':                      Attribute  Recent
 0      Market Cap (intraday) 5  29.57B
 1           Enterprise Value 3  42.36B
 2                 Trailing P/E     NaN
 3                Forward P/E 1   17.36
 4  PEG Ratio (5 yr expected) 1  -28.94
 5            Price/Sales (ttm)    0.71
 6             Price/Book (mrq)    2.29
 7   Enterprise Value/Revenue 3    1.01
 8    Enterprise Value/EBITDA 6    6.50,
 'GS':                      Attribute    Recent
 0      Market Cap (intraday) 5    69.95B
 1           Enterprise Value 3  -120.05B
 2                 Trailing P/E     11.01
 3                Forward P/E 1      9.51
 4  PEG Ratio (5 yr expected) 1      2.94
 5            Price/Sales (ttm)      2.02
 6             Price/Book (mrq)      0.90
 7   Enterprise Value/Revenue 3     -3.46
 8    Enterprise Value/EBITDA 6       NaN,
 'HD':                      Attribute   Recent
 0      Market Cap (intraday) 5  267.98B
 1           Enterprise Value 3   287.2B
 2                 Trailing P/E    24.31
 3                Forward P/E 1    22.69
 4  PEG Ratio (5 yr expected) 1     5.95
 5            Price/Sales (ttm)     2.43
 6             Price/Book (mrq)      NaN
 7   Enterprise Value/Revenue 3     2.61
 8    Enterprise Value/EBITDA 6    15.83,
 'IBM':                      Attribute   Recent
 0      Market Cap (intraday) 5  110.94B
 1           Enterprise Value 3  166.92B
 2                 Trailing P/E    12.38
 3                Forward P/E 1    10.07
 4  PEG Ratio (5 yr expected) 1     2.85
 5            Price/Sales (ttm)     1.45
 6             Price/Book (mrq)     5.55
 7   Enterprise Value/Revenue 3     2.18
 8    Enterprise Value/EBITDA 6    10.41,
 'INTC':                      Attribute   Recent
 0      Market Cap (intraday) 5  261.28B
 1           Enterprise Value 3  271.76B
 2                 Trailing P/E    11.96
 3                Forward P/E 1    12.70
 4  PEG Ratio (5 yr expected) 1     1.43
 5            Price/Sales (ttm)     3.45
 6             Price/Book (mrq)     3.42
 7   Enterprise Value/Revenue 3     3.59
 8    Enterprise Value/EBITDA 6     7.40,
 'JNJ':                      Attribute   Recent
 0      Market Cap (intraday) 5  387.24B
 1           Enterprise Value 3  401.32B
 2                 Trailing P/E    22.92
 3                Forward P/E 1    16.21
 4  PEG Ratio (5 yr expected) 1     3.97
 5            Price/Sales (ttm)     4.68
 6             Price/Book (mrq)     6.31
 7   Enterprise Value/Revenue 3     4.85
 8    Enterprise Value/EBITDA 6    14.06,
 'JPM':                      Attribute  Recent
 0      Market Cap (intraday) 5  304.8B
 1           Enterprise Value 3   -147B
 2                 Trailing P/E   11.24
 3                Forward P/E 1   11.63
 4  PEG Ratio (5 yr expected) 1    4.10
 5            Price/Sales (ttm)    2.98
 6             Price/Book (mrq)    1.32
 7   Enterprise Value/Revenue 3   -1.44
 8    Enterprise Value/EBITDA 6     NaN,
 'KO':                      Attribute   Recent
 0      Market Cap (intraday) 5   200.7B
 1           Enterprise Value 3  232.45B
 2                 Trailing P/E    20.14
 3                Forward P/E 1    22.25
 4  PEG Ratio (5 yr expected) 1    13.51
 5            Price/Sales (ttm)     5.40
 6             Price/Book (mrq)    11.05
 7   Enterprise Value/Revenue 3     6.25
 8    Enterprise Value/EBITDA 6    19.18,
 'MCD':                      Attribute   Recent
 0      Market Cap (intraday) 5  139.41B
 1           Enterprise Value 3  181.69B
 2                 Trailing P/E    24.54
 3                Forward P/E 1    23.82
 4  PEG Ratio (5 yr expected) 1    10.05
 5            Price/Sales (ttm)     6.71
 6             Price/Book (mrq)      NaN
 7   Enterprise Value/Revenue 3     8.75
 8    Enterprise Value/EBITDA 6    17.75,
 'MMM':                      Attribute   Recent
 0      Market Cap (intraday) 5   90.62B
 1           Enterprise Value 3  104.35B
 2                 Trailing P/E    18.48
 3                Forward P/E 1    17.68
 4  PEG Ratio (5 yr expected) 1    13.62
 5            Price/Sales (ttm)     2.80
 6             Price/Book (mrq)     8.93
 7   Enterprise Value/Revenue 3     3.23
 8    Enterprise Value/EBITDA 6    11.91,
 'MRK':                      Attribute   Recent
 0      Market Cap (intraday) 5  201.47B
 1           Enterprise Value 3  213.49B
 2                 Trailing P/E    20.23
 3                Forward P/E 1    13.24
 4  PEG Ratio (5 yr expected) 1     2.49
 5            Price/Sales (ttm)     4.19
 6             Price/Book (mrq)     7.69
 7   Enterprise Value/Revenue 3     4.44
 8    Enterprise Value/EBITDA 6    11.20,
 'MSFT':                      Attribute Recent
 0      Market Cap (intraday) 5  1.39T
 1           Enterprise Value 3  1.35T
 2                 Trailing P/E  30.54
 3                Forward P/E 1  29.52
 4  PEG Ratio (5 yr expected) 1   2.11
 5            Price/Sales (ttm)  10.02
 6             Price/Book (mrq)  12.15
 7   Enterprise Value/Revenue 3   9.71
 8    Enterprise Value/EBITDA 6  21.01,
 'NKE':                      Attribute   Recent
 0      Market Cap (intraday) 5  154.85B
 1           Enterprise Value 3  144.14B
 2                 Trailing P/E    36.76
 3                Forward P/E 1    37.30
 4  PEG Ratio (5 yr expected) 1     3.87
 5            Price/Sales (ttm)     3.75
 6             Price/Book (mrq)    17.12
 7   Enterprise Value/Revenue 3     3.49
 8    Enterprise Value/EBITDA 6    24.60,
 'PFE':                      Attribute   Recent
 0      Market Cap (intraday) 5  198.14B
 1           Enterprise Value 3  249.09B
 2                 Trailing P/E    12.74
 3                Forward P/E 1    11.54
 4  PEG Ratio (5 yr expected) 1     2.74
 5            Price/Sales (ttm)     3.91
 6             Price/Book (mrq)     3.05
 7   Enterprise Value/Revenue 3     4.92
 8    Enterprise Value/EBITDA 6    12.13,
 'PG':                      Attribute   Recent
 0      Market Cap (intraday) 5  290.57B
 1           Enterprise Value 3  311.23B
 2                 Trailing P/E    63.24
 3                Forward P/E 1    22.57
 4  PEG Ratio (5 yr expected) 1     3.15
 5            Price/Sales (ttm)     4.13
 6             Price/Book (mrq)     6.51
 7   Enterprise Value/Revenue 3     4.42
 8    Enterprise Value/EBITDA 6    16.33,
 'RTX':                      Attribute  Recent
 0      Market Cap (intraday) 5  94.97B
 1           Enterprise Value 3  93.43B
 2                 Trailing P/E     NaN
 3                Forward P/E 1   15.71
 4  PEG Ratio (5 yr expected) 1   -1.55
 5            Price/Sales (ttm)    1.24
 6             Price/Book (mrq)     NaN
 7   Enterprise Value/Revenue 3    1.22
 8    Enterprise Value/EBITDA 6    6.70,
 'TRV':                      Attribute  Recent
 0      Market Cap (intraday) 5   27.8B
 1           Enterprise Value 3  27.07B
 2                 Trailing P/E   11.88
 3                Forward P/E 1   10.48
 4  PEG Ratio (5 yr expected) 1    6.42
 5            Price/Sales (ttm)    0.87
 6             Price/Book (mrq)    1.10
 7   Enterprise Value/Revenue 3    0.85
 8    Enterprise Value/EBITDA 6    6.79,
 'UNH':                      Attribute   Recent
 0      Market Cap (intraday) 5  289.05B
 1           Enterprise Value 3  303.97B
 2                 Trailing P/E    21.33
 3                Forward P/E 1    16.55
 4  PEG Ratio (5 yr expected) 1     1.47
 5            Price/Sales (ttm)     1.17
 6             Price/Book (mrq)     5.07
 7   Enterprise Value/Revenue 3     1.23
 8    Enterprise Value/EBITDA 6    13.86,
 'V':                      Attribute   Recent
 0      Market Cap (intraday) 5  432.18B
 1           Enterprise Value 3  405.91B
 2                 Trailing P/E    35.41
 3                Forward P/E 1    33.52
 4  PEG Ratio (5 yr expected) 1     3.73
 5            Price/Sales (ttm)    18.09
 6             Price/Book (mrq)    14.42
 7   Enterprise Value/Revenue 3    17.00
 8    Enterprise Value/EBITDA 6    24.82,
 'VZ':                      Attribute   Recent
 0      Market Cap (intraday) 5  231.67B
 1           Enterprise Value 3  370.94B
 2                 Trailing P/E    12.64
 3                Forward P/E 1    11.43
 4  PEG Ratio (5 yr expected) 1     6.17
 5            Price/Sales (ttm)     1.76
 6             Price/Book (mrq)     3.85
 7   Enterprise Value/Revenue 3     2.82
 8    Enterprise Value/EBITDA 6     7.73,
 'WBA':                      Attribute  Recent
 0      Market Cap (intraday) 5  38.06B
 1           Enterprise Value 3   78.3B
 2                 Trailing P/E   11.16
 3                Forward P/E 1    7.33
 4  PEG Ratio (5 yr expected) 1    3.95
 5            Price/Sales (ttm)    0.27
 6             Price/Book (mrq)    1.61
 7   Enterprise Value/Revenue 3    0.56
 8    Enterprise Value/EBITDA 6   13.32,
 'WMT':                      Attribute   Recent
 0      Market Cap (intraday) 5  349.52B
 1           Enterprise Value 3  418.75B
 2                 Trailing P/E    23.77
 3                Forward P/E 1    22.76
 4  PEG Ratio (5 yr expected) 1     4.42
 5            Price/Sales (ttm)     0.67
 6             Price/Book (mrq)     4.68
 7   Enterprise Value/Revenue 3     0.80
 8    Enterprise Value/EBITDA 6    12.71,
 'XOM':                      Attribute   Recent
 0      Market Cap (intraday) 5  198.62B
 1           Enterprise Value 3  250.12B
 2                 Trailing P/E    17.62
 3                Forward P/E 1    34.02
 4  PEG Ratio (5 yr expected) 1   -11.42
 5            Price/Sales (ttm)     0.80
 6             Price/Book (mrq)     1.09
 7   Enterprise Value/Revenue 3     1.00
 8    Enterprise Value/EBITDA 6     8.85}

In [28]:
# combine all the stats valuation tables into a single data frame
combined_stats = pd.concat(dow_stats)
combined_stats = combined_stats.reset_index()

In [29]:
combined_stats

    level_0  level_1                    Attribute  Recent
0      AAPL        0      Market Cap (intraday) 5   1.39T
1      AAPL        1           Enterprise Value 3   1.37T
2      AAPL        2                 Trailing P/E   25.27
3      AAPL        3                Forward P/E 1   21.72
4      AAPL        4  PEG Ratio (5 yr expected) 1    2.27
..      ...      ...                          ...     ...
265     XOM        4  PEG Ratio (5 yr expected) 1  -11.42
266     XOM        5            Price/Sales (ttm)    0.80
267     XOM        6             Price/Book (mrq)    1.09
268     XOM        7   Enterprise Value/Revenue 3    1.00
269     XOM        8    Enterprise Value/EBITDA 6    8.85

[270 rows x 4 columns]

In [30]:
del combined_stats["level_1"]
# update column names
combined_stats.columns = ["Ticker", "Attribute", "Recent"]

In [31]:
combined_stats

    Ticker                    Attribute  Recent
0     AAPL      Market Cap (intraday) 5   1.39T
1     AAPL           Enterprise Value 3   1.37T
2     AAPL                 Trailing P/E   25.27
3     AAPL                Forward P/E 1   21.72
4     AAPL  PEG Ratio (5 yr expected) 1    2.27
..     ...                          ...     ...
265    XOM  PEG Ratio (5 yr expected) 1  -11.42
266    XOM            Price/Sales (ttm)    0.80
267    XOM             Price/Book (mrq)    1.09
268    XOM   Enterprise Value/Revenue 3    1.00
269    XOM    Enterprise Value/EBITDA 6    8.85

[270 rows x 3 columns]

In [37]:
pe_ratios = combined_stats[combined_stats["Attribute"]=="Trailing P/E"].reset_index()
pe_ratios

    index Ticker     Attribute Recent
0       2   AAPL  Trailing P/E  25.27
1      11    AXP  Trailing P/E  15.08
2      20     BA  Trailing P/E    NaN
3      29    CAT  Trailing P/E  12.95
4      38   CSCO  Trailing P/E  18.41
5      47    CVX  Trailing P/E  45.97
6      56    DIS  Trailing P/E  40.20
7      65    DOW  Trailing P/E    NaN
8      74     GS  Trailing P/E  11.01
9      83     HD  Trailing P/E  24.31
10     92    IBM  Trailing P/E  12.38
11    101   INTC  Trailing P/E  11.96
12    110    JNJ  Trailing P/E  22.92
13    119    JPM  Trailing P/E  11.24
14    128     KO  Trailing P/E  20.14
15    137    MCD  Trailing P/E  24.54
16    146    MMM  Trailing P/E  18.48
17    155    MRK  Trailing P/E  20.23
18    164   MSFT  Trailing P/E  30.54
19    173    NKE  Trailing P/E  36.76
20    182    PFE  Trailing P/E  12.74
21    191     PG  Trailing P/E  63.24
22    200    RTX  Trailing P/E    NaN
23    209    TRV  Trailing P/E  11.88
24    218    UNH  Trailing P/E  21.33
25    227      V  Trailing P/E  35.41
26    236     VZ  Trailing P/E  12.64
27    245    WBA  Trailing P/E  11.16
28    254    WMT  Trailing P/E  23.77
29    263    XOM  Trailing P/E  17.62

In [38]:
pe_ratios_sorted = pe_ratios.sort_values('Recent',ascending=False)
pe_ratios_sorted

    index Ticker     Attribute Recent
21    191     PG  Trailing P/E  63.24
5      47    CVX  Trailing P/E  45.97
6      56    DIS  Trailing P/E  40.20
19    173    NKE  Trailing P/E  36.76
25    227      V  Trailing P/E  35.41
18    164   MSFT  Trailing P/E  30.54
0       2   AAPL  Trailing P/E  25.27
15    137    MCD  Trailing P/E  24.54
9      83     HD  Trailing P/E  24.31
28    254    WMT  Trailing P/E  23.77
12    110    JNJ  Trailing P/E  22.92
24    218    UNH  Trailing P/E  21.33
17    155    MRK  Trailing P/E  20.23
14    128     KO  Trailing P/E  20.14
16    146    MMM  Trailing P/E  18.48
4      38   CSCO  Trailing P/E  18.41
29    263    XOM  Trailing P/E  17.62
1      11    AXP  Trailing P/E  15.08
3      29    CAT  Trailing P/E  12.95
20    182    PFE  Trailing P/E  12.74
26    236     VZ  Trailing P/E  12.64
10     92    IBM  Trailing P/E  12.38
11    101   INTC  Trailing P/E  11.96
23    209    TRV  Trailing P/E  11.88
13    119    JPM  Trailing P/E  11.24
27    245    WBA  Trailing P/E  11.16
8      74     GS  Trailing P/E  11.01
2      20     BA  Trailing P/E    NaN
7      65    DOW  Trailing P/E    NaN
22    200    RTX  Trailing P/E    NaN

In [50]:
si.get_data("aapl")

,open,high,low,close,adjclose,volume,ticker
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.405683,117258400.0,AAPL
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.384517,43971200.0,AAPL
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.356296,26432000.0,AAPL
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.365115,21610400.0,AAPL
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.375698,18362400.0,AAPL
...,...,...,...,...,...,...,...
2020-05-27,316.140015,318.709991,313.089996,318.109985,318.109985,28236300.0,AAPL
2020-05-28,316.769989,323.440002,315.630005,318.250000,318.250000,33390200.0,AAPL
2020-05-29,319.250000,321.149994,316.470001,317.940002,317.940002,38399500.0,AAPL
2020-06-01,317.750000,322.350006,317.209991,321.850006,321.850006,20197800.0,AAPL
2020-06-02,320.744995,322.470001,320.180115,320.618805,320.618805,6853819.0,AAPL

In [58]:
si.get_quote_table("aapl")

{'1y Target Est': 314.55,
 '52 Week Range': '174.52 - 327.85',
 'Ask': '320.55 x 1300',
 'Avg. Volume': 49012080.0,
 'Beta (5Y Monthly)': 1.17,
 'Bid': '320.53 x 1000',
 "Day's Range": '319.89 - 322.47',
 'EPS (TTM)': 12.73,
 'Earnings Date': 'Jul 28, 2020 - Aug 03, 2020',
 'Ex-Dividend Date': 'May 08, 2020',
 'Forward Dividend & Yield': '3.28 (1.02%)',
 'Market Cap': '1.387T',
 'Open': 320.74,
 'PE Ratio (TTM)': 25.13,
 'Previous Close': 321.85,
 'Quote Price': 319.92498779296875,
 'Volume': 7497573.0}

In [59]:
si.get_quote_table("aapl")["Market Cap"]

'1.387T'

In [60]:
si.get_quote_table("aapl")["Avg. Volume"]
si.get_quote_table("aapl")["Volume"]

7501394.0

In [62]:
daily_range = si.get_quote_table("aapl")["Day's Range"]

'319.32 - 322.47'

In [69]:
daily_range = si.get_quote_table("aapl")["Day's Range"]

daily_low = float(daily_range.split(" - ")[0])
daily_high = float(daily_range.split(" - ")[1])
print("daily low:", daily_low)
print("daily high:", daily_high)

daily low: 319.15
daily high: 322.47

In [70]:
si.get_stats("aapl")

                                         Attribute         Value
0                          Market Cap (intraday) 5         1.38T
1                               Enterprise Value 3         1.37T
2                                     Trailing P/E         25.07
3                                    Forward P/E 1         21.54
4                      PEG Ratio (5 yr expected) 1          2.27
5                                Price/Sales (ttm)          5.16
6                                 Price/Book (mrq)         17.59
7                       Enterprise Value/Revenue 3          5.11
8                        Enterprise Value/EBITDA 6         17.71
9                                Beta (5Y Monthly)          1.17
10                                52-Week Change 3        79.16%
11                         S&P500 52-Week Change 3         8.60%
12                                  52 Week High 3        327.85
13                                   52 Week Low 3        174.52
14                         50-Day Moving Average 3        298.14
15                        200-Day Moving Average 3        288.19
16                             Avg Vol (3 month) 3        49.01M
17                              Avg Vol (10 day) 3        32.85M
18                            Shares Outstanding 5         4.33B
19                                           Float         4.33B
20                            % Held by Insiders 1         0.07%
21                        % Held by Institutions 1        62.12%
22                   Shares Short (May 14, 2020) 4        33.59M
23                    Short Ratio (May 14, 2020) 4          0.89
24               Short % of Float (May 14, 2020) 4         0.78%
25  Short % of Shares Outstanding (May 14, 2020) 4         0.78%
26       Shares Short (prior month Apr 14, 2020) 4        34.64M
27                  Forward Annual Dividend Rate 4          3.28
28                 Forward Annual Dividend Yield 4         1.02%
29                 Trailing Annual Dividend Rate 3          3.08
30                Trailing Annual Dividend Yield 3         0.96%
31                 5 Year Average Dividend Yield 4          1.58
32                                  Payout Ratio 4        24.08%
33                                 Dividend Date 3  May 13, 2020
34                              Ex-Dividend Date 4  May 07, 2020
35                             Last Split Factor 2           7:1
36                               Last Split Date 3  Jun 08, 2014
37                                Fiscal Year Ends  Sep 27, 2019
38                       Most Recent Quarter (mrq)  Mar 27, 2020
39                                   Profit Margin        21.35%
40                          Operating Margin (ttm)        24.48%
41                          Return on Assets (ttm)        12.38%
42                          Return on Equity (ttm)        62.09%
43                                   Revenue (ttm)       267.98B
44                         Revenue Per Share (ttm)         60.10
45                  Quarterly Revenue Growth (yoy)         0.50%
46                              Gross Profit (ttm)        98.39B
47                                          EBITDA        77.31B
48                  Net Income Avi to Common (ttm)        57.22B
49                               Diluted EPS (ttm)         12.73
50                 Quarterly Earnings Growth (yoy)        -2.70%
51                                Total Cash (mrq)        94.05B
52                      Total Cash Per Share (mrq)          21.7
53                                Total Debt (mrq)       118.76B
54                         Total Debt/Equity (mrq)        151.43
55                             Current Ratio (mrq)          1.50
56                      Book Value Per Share (mrq)         18.14
57                       Operating Cash Flow (ttm)        75.37B
58                    Levered Free Cash Flow (ttm)        45.04B

In [75]:
income_statement = si.get_income_statement("aapl")
income_statement

,Breakdown,ttm,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Total Revenue,267981000,260174000,265595000,229234000,215639000
1,Cost of Revenue,165854000,161782000,163756000,141048000,131376000
2,Gross Profit,102127000,98392000,101839000,88186000,84263000
3,Operating Expense,36536000,34462000,30941000,26842000,24239000
4,Operating Income,65591000,63930000,70898000,61344000,60024000
5,Net Non Operating Interest Income Expense,1172000,1385000,2446000,2878000,2543000
6,Other Income Expense,328000,422000,-441000,-133000,-1195000
7,Pretax Income,67091000,65737000,72903000,64089000,61372000
8,Tax Provision,9876000,10481000,13372000,15738000,15685000
9,Net Income Common Stockholders,57215000,55256000,59531000,48351000,45687000
10,Diluted NI Available to Com Stockholders,57215000,55256000,59531000,48351000,45687000
11,Basic EPS,-,0.012,0.012,0.0093,0.0084
12,Diluted EPS,-,0.0119,0.0119,0.0092,0.0083
13,Basic Average Shares,-,4617834,4955377,5217242,5470820
14,Diluted Average Shares,-,4648913,5000109,5251692,5500281
15,Total Operating Income as Reported,65591000,63930000,70898000,61344000,60024000
16,Total Expenses,202390000,196244000,194697000,167890000,155615000
17,Net Income from Continuing & Discontinued Oper...,57215000,55256000,59531000,48351000,45687000
18,Normalized Income,57215000,55256000,59531000,48351000,45687000
19,Interest Income,4390000,4961000,5686000,5201000,3999000
20,Interest Expense,3218000,3576000,3240000,2323000,1456000
21,Net Interest Income,1172000,1385000,2446000,2878000,2543000
22,Reconciled Cost of Revenue,165854000,161782000,163756000,141048000,131376000
23,Reconciled Depreciation,11714000,12547000,10903000,10157000,10505000
24,Net Income from Continuing Operation Net Minor...,57215000,55256000,59531000,48351000,45687000
25,Normalized EBITDA,82023000,81860000,87046000,76569000,73333000
26,Tax Rate for Calcs,0,0,0,0,0
27,Tax Effect of Unusual Items,0,0,0,0,0

In [76]:
transposed = income_statement.transpose()
transposed

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
Breakdown,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,Normalized Income,Interest Income,Interest Expense,Net Interest Income,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minor...,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
ttm,267981000,165854000,102127000,36536000,65591000,1172000,328000,67091000,9876000,57215000,...,57215000,4390000,3218000,1172000,165854000,11714000,57215000,82023000,0,0
9/30/2019,260174000,161782000,98392000,34462000,63930000,1385000,422000,65737000,10481000,55256000,...,55256000,4961000,3576000,1385000,161782000,12547000,55256000,81860000,0,0
9/30/2018,265595000,163756000,101839000,30941000,70898000,2446000,-441000,72903000,13372000,59531000,...,59531000,5686000,3240000,2446000,163756000,10903000,59531000,87046000,0,0
9/30/2017,229234000,141048000,88186000,26842000,61344000,2878000,-133000,64089000,15738000,48351000,...,48351000,5201000,2323000,2878000,141048000,10157000,48351000,76569000,0,0
9/30/2016,215639000,131376000,84263000,24239000,60024000,2543000,-1195000,61372000,15685000,45687000,...,45687000,3999000,1456000,2543000,131376000,10505000,45687000,73333000,0,0

In [79]:
balance_sheet = si.get_balance_sheet("aapl")
balance_sheet

,Breakdown,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Total Assets,338516000,365725000,375319000,321686000
1,Total Liabilities Net Minority Interest,248028000,258578000,241272000,193437000
2,Total Equity Gross Minority Interest,90488000,107147000,134047000,128249000
3,Total Capitalization,182295000,200882000,231254000,203676000
4,Common Stock Equity,90488000,107147000,134047000,128249000
5,Net Tangible Assets,90488000,107147000,126032000,119629000
6,Working Capital,57101000,14473000,27831000,27863000
7,Invested Capital,198535000,221630000,249727000,215281000
8,Tangible Book Value,90488000,107147000,126032000,119629000
9,Total Debt,108047000,114483000,115680000,87032000
10,Net Debt,59203000,88570000,95391000,66548000
11,Share Issued,4443236,4754986,5126201,5336166
12,Ordinary Shares Number,4443236,4754986,5126201,5336166

In [81]:
cash_flow_statement = si.get_cash_flow("aapl")
cash_flow_statement

,Breakdown,ttm,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Operating Cash Flow,75373000,69391000,77434000,63598000,65824000
1,Investing Cash Flow,22049000,45896000,16066000,-46446000,-45977000
2,Financing Cash Flow,-94190000,-90976000,-87876000,-17347000,-20483000
3,End Cash Position,43049000,50224000,25913000,20289000,20484000
4,Income Tax Paid Supplemental Data,13271000,15263000,10417000,11591000,10444000
5,Interest Paid Supplemental Data,3350000,3423000,3022000,2092000,1316000
6,Capital Expenditure,-8737000,-10495000,-13313000,-12795000,-13548000
7,Issuance of Capital Stock,821000,781000,669000,555000,495000
8,Issuance of Debt,13247000,6963000,6969000,28662000,24954000
9,Repayment of Debt,-11555000,-8805000,-6500000,-3500000,-2500000
10,Repurchase of Capital Stock,-73679000,-66897000,-72738000,-32900000,-29722000
11,Free Cash Flow,66636000,58896000,64121000,50803000,52276000

In [101]:
import yahoo_fin.options as ops

expiration_dates = ops.get_expiration_dates("aapl")
expiration_dates

['June 5, 2020',
 'June 12, 2020',
 'June 19, 2020',
 'June 26, 2020',
 'July 2, 2020',
 'July 10, 2020',
 'July 17, 2020',
 'September 18, 2020',
 'October 16, 2020',
 'November 20, 2020',
 'December 18, 2020',
 'January 15, 2021',
 'June 18, 2021',
 'September 17, 2021',
 'January 21, 2022',
 'June 17, 2022',
 'September 16, 2022']

In [87]:
ops.get_calls("aapl")

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL200605C00145000,2020-05-28 3:54PM EDT,145.0,172.75,175.30,175.70,0.00,-,1,1,0.00%
1,AAPL200605C00150000,2020-05-28 3:59PM EDT,150.0,168.40,170.40,170.65,0.00,-,-,0,0.00%
2,AAPL200605C00155000,2020-06-02 9:33AM EDT,155.0,166.55,165.30,165.65,3.45,+2.12%,5,2,0.00%
3,AAPL200605C00160000,2020-05-06 2:10PM EDT,160.0,141.75,159.85,161.15,0.00,-,-,1,273.83%
4,AAPL200605C00175000,2020-05-19 12:38PM EDT,175.0,142.03,144.95,146.05,0.00,-,-,1,216.02%
...,...,...,...,...,...,...,...,...,...,...,...
61,AAPL200605C00370000,2020-06-01 10:59AM EDT,370.0,0.01,0.00,0.01,0.00,-,18,1530,46.88%
62,AAPL200605C00375000,2020-05-29 2:32PM EDT,375.0,0.01,0.00,0.01,0.00,-,13,615,51.56%
63,AAPL200605C00380000,2020-05-29 9:40AM EDT,380.0,0.01,0.00,0.01,0.00,-,71,664,51.56%
64,AAPL200605C00385000,2020-05-29 9:57AM EDT,385.0,0.01,0.00,0.01,0.00,-,100,1027,56.25%
65,AAPL200605C00390000,2020-06-01 9:30AM EDT,390.0,0.01,0.00,0.01,0.00,-,100,767,59.38%

In [122]:
ops.get_puts("aapl", "09/16/2022")

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL220916P00160000,2020-05-28 2:57PM EDT,160.0,8.70,6.50,10.35,0.0,-,-,1,43.05%
1,AAPL220916P00170000,2020-05-28 2:58PM EDT,170.0,10.40,8.00,13.00,0.0,-,-,1,43.32%
2,AAPL220916P00175000,2020-05-28 2:58PM EDT,175.0,11.80,9.00,14.00,0.0,-,-,2,42.94%
3,AAPL220916P00180000,2020-06-01 2:31PM EDT,180.0,11.70,10.45,12.85,0.0,-,1,2,40.13%
4,AAPL220916P00200000,2020-05-29 9:30AM EDT,200.0,17.00,14.65,17.00,0.0,-,2,3,38.65%
5,AAPL220916P00250000,2020-06-02 1:08PM EDT,250.0,30.00,28.00,31.70,1.0,+3.45%,14,11,35.97%
6,AAPL220916P00270000,2020-06-01 1:59PM EDT,270.0,37.34,36.25,38.80,0.0,-,1,27,34.78%
7,AAPL220916P00280000,2020-05-29 11:46AM EDT,280.0,42.52,40.25,42.60,0.0,-,2,15,34.15%
8,AAPL220916P00300000,2020-06-02 12:12PM EDT,300.0,50.50,50.15,51.80,0.0,-,5,11,33.46%
9,AAPL220916P00310000,2020-05-29 9:38AM EDT,310.0,59.50,53.50,58.00,0.0,-,2,3,33.80%
10,AAPL220916P00315000,2020-06-01 1:04PM EDT,315.0,58.00,56.00,58.30,0.0,-,1,3,32.40%
11,AAPL220916P00320000,2020-05-26 12:50PM EDT,320.0,61.00,58.50,63.00,0.0,-,-,1,33.35%
12,AAPL220916P00460000,2020-05-28 10:49AM EDT,460.0,156.50,155.00,160.00,0.0,-,-,1,30.45%
13,AAPL220916P00500000,2020-05-27 3:50PM EDT,500.0,196.95,189.00,194.00,0.0,-,-,1,30.10%

In [124]:
ops.get_options_chain("aapl")

{'calls':           Contract Name         Last Trade Date  Strike  Last Price     Bid  \
 0   AAPL200605C00145000   2020-05-28 3:54PM EDT   145.0      172.75  176.15
 1   AAPL200605C00150000   2020-05-28 3:59PM EDT   150.0      168.40  171.60
 2   AAPL200605C00155000   2020-06-02 9:33AM EDT   155.0      166.55  166.15
 3   AAPL200605C00160000   2020-05-06 2:10PM EDT   160.0      141.75  161.05
 4   AAPL200605C00175000  2020-05-19 12:38PM EDT   175.0      142.03  146.65
 ..                  ...                     ...     ...         ...     ...
 61  AAPL200605C00370000  2020-06-01 10:59AM EDT   370.0        0.01    0.00
 62  AAPL200605C00375000   2020-05-29 2:32PM EDT   375.0        0.01    0.00
 63  AAPL200605C00380000   2020-05-29 9:40AM EDT   380.0        0.01    0.00
 64  AAPL200605C00385000   2020-05-29 9:57AM EDT   385.0        0.01    0.00
 65  AAPL200605C00390000   2020-06-01 9:30AM EDT   390.0        0.01    0.00

        Ask  Change % Change Volume  Open Interest Implied Volatility
 0   177.50    0.00        -      1              1            246.88%
 1   172.50    0.00        -      -              0            313.28%
 2   167.50    3.45   +2.12%      5              2            225.00%
 3   162.40    0.00        -      -              1            327.54%
 4   147.10    0.00        -      -              1            218.75%
 ..     ...     ...      ...    ...            ...                ...
 61    0.01    0.00        -     18           1530             46.09%
 62    0.01    0.00        -     13            615             50.00%
 63    0.01    0.00        -     71            664             51.56%
 64    0.01    0.00        -    100           1027             54.69%
 65    0.01    0.00        -    100            767             57.81%

 [66 rows x 11 columns],
 'puts':           Contract Name         Last Trade Date  Strike  Last Price    Bid  \
 0   AAPL200605P00145000   2020-05-13 7:10PM EDT   145.0        0.10   0.00
 1   AAPL200605P00150000  2020-05-14 12:59PM EDT   150.0        0.01   0.00
 2   AAPL200605P00155000   2020-05-29 1:18PM EDT   155.0        0.01   0.00
 3   AAPL200605P00160000   2020-05-19 3:43PM EDT   160.0        0.04   0.00
 4   AAPL200605P00170000   2020-05-13 7:10PM EDT   170.0        0.12   0.00
 ..                  ...                     ...     ...         ...    ...
 62  AAPL200605P00365000  2020-05-29 11:35AM EDT   365.0       46.72  43.10
 63  AAPL200605P00370000   2020-05-27 1:00PM EDT   370.0       54.80  47.80
 64  AAPL200605P00375000  2020-06-01 10:22AM EDT   375.0       53.40  52.80
 65  AAPL200605P00380000   2020-05-29 3:59PM EDT   380.0       60.85  58.10
 66  AAPL200605P00385000  2020-06-01 10:22AM EDT   385.0       63.40  62.95

       Ask  Change % Change Volume  Open Interest Implied Volatility
 0    0.01     0.0        -      1              1            225.00%
 1    0.01     0.0        -      1              3            218.75%
 2    0.01     0.0        -      1              2            206.25%
 3    0.01     0.0        -      5              6            196.88%
 4    0.01     0.0        -      -              3            181.25%
 ..    ...     ...      ...    ...            ...                ...
 62  43.40     0.0        -      9              8             51.37%
 63  48.25     0.0        -      -              0             56.25%
 64  53.30     0.0        -      5              0             65.82%
 65  58.35     0.0        -      1             25             61.72%
 66  63.25     0.0        -      5              0             69.92%

 [67 rows x 11 columns]}